<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} &middot; {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#00979D">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight.css">
  <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v7.0.0/dist/font-face.css" rel="stylesheet" type="text/css" />
  {% seo %}
</head>
